.base {
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        width: 100svw;
        height: 5svh;
        justify-content: space-between;
        background-color: var(--header-bg-color);
        align-items: center;
        padding: 0 10px 0 10px;

        .logo {
            height: 4svh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .logo_image {
                height: 100%;
                aspect-ratio: 1/1;
                margin-right: 10px;
                cursor: pointer;

            }

            .logo_text {
                font-weight: 500;
                font-size: large;
            }
        }

        .nav_buttons {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 4svh;

            & > *  {
                cursor: pointer;
            }
        }
    }
}