.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 0;
    transition: .5s;


    .text {
        font-family: var(--font);
        margin: 0;
    }
}

.main:hover {
    outline: 1px solid black !important;
}