.base {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 10px;
    .classes {
        
    }

    .class_info {
        margin-left: 10px;

        .class_item {
            
        }
    }
}